---
layout: base
title: Journals
permalink: /journals/
---

{% assign strJourList = '' %}
{% for post in site.posts %}
    {% if post.journal %}
    {% assign jr = '%' | append: post.journal | append: '%' %}
        {% if strJourList contains jr %}
            {% assign strJourList = strJourList %}
        {% else %}
            {% assign strJourList = strJourList | append: '£' | append: jr %}
        {% endif %}
    {% endif %}
{% endfor%}

{% assign jourList = strJourList | remove: '%' | remove_first: '£' | split: '£' | sort %}

{% assign initial_str = '' %}
{% for journal in jourList %}
    {% assign initial = journal | slice: 0 | capitalize %}
    {% if initial_str contains initial %}
        {% assign initial_str = initial_str %}
    {% else %}
        {% assign initial_str = initial_str | append: '£' | append: initial %}
    {% endif %}
{% endfor %}

{% assign initList = initial_str | remove_first: '£' | split: '£' | sort %}

<div class="home">
    {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
    {%- endif -%}

    <div>
    {% for initial in initList %}
    <a href="#{{ initial | slugify }}" class="post-tag">{{ initial }}</a>
    &#160 &#160
    {% endfor %}
    </div>
    <hr class="brand"/>
    <div>
    {% for initial in initList %}
    {% assign initial_lower = initial | downcase %}
    <p><h4 id="{{ initial | slugify }}">{{ initial }}</h4></p>
    <ul class="post-meta-ul">
        {% for journal in jourList %}
        {% assign j0 = journal | slice: 0 %}
        {% if j0 == initial  or j0 == initial_lower %}
            <li><a href="{{ site.baseurl }}/journals-all/#{{ journal | slugify }}">{{ journal }}</a></li>
        {% endif %}
        {% endfor %}
    </ul>
    {% endfor %}
    </div>
</div>