---
layout: base
title: Tags
permalink: /tags/
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {% assign sorted_tags = site.tags | sort %}
  {% assign caps = "ABCDEFJHIJKLMNOPQRSTUVWXYZ" | split:"" %}

  <div>
    {% for initial in caps %}
    <a href="#{{ initial | slugify }}" class="post-tag">{{ initial }}</a>
    &#160 &#160
    {% endfor %}
  </div>
  <hr class="brand"/>
  <div>
    {% for initial in caps %}
    {% assign initial_lower = initial | downcase %}
    <p><h4 id="{{ initial | slugify }}">{{ initial }}</h4></p>
    <ul class="post-meta-ul">
      {% for tag in sorted_tags %}
        {% assign t = tag | first %}
        {% assign t0 = t | slice: 0 %}
        {% if t0 == initial  or t0 == initial_lower %}
          <li><a href="{{ site.baseurl }}/tags-all/#{{ t | slugify }}">{{ t }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
    {% endfor %}
  </div>
</div>