---
layout: base
---
<style>
    li{
        padding: 0 0 0.5em 0;
        margin: 0px;
    }
</style>

<header class="post-header">
    {%- if page.author -%}
    <h1 class="page-heading">{{ page.author }}</h1>
    {%- endif -%}
</header>

<div>
    {{ content }}

    <ul style="list-style-type: none">
    {% for post in site.posts %}
        {% if post.author contains page.author %}
        <li>
            <a href="{{ post.url | relative_url }}">
                {{ post.title | escape }}
            </a>
            {% if post.year %}
            <small>{{ post.year }}</small>
            {% endif %}
        </li>
        {% endif %}
    {% endfor %}
    </ul>
</div>